* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 10px;
}

/* intestazione */
header {
    background-image: url(../img/pattern.png);
    background-size: 400px;
    width: 100%;
    height: auto;
    background-color:rgb(79, 161, 255);
}

#logo-booleaner {
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
}

/* titolo e immagini */
#credits-data {
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
}

#credits {
    font-weight: bold;
}

#link-booleaner {
    text-decoration: none;
    color: rgb(34, 171, 230);
}

/* style sezioni di testo */
.text-paragraph {
    margin-top: 40px;
    margin-bottom: 40px;
}

.testo-evidenziato {
    background-color: yellow;
}

ul {
    margin-left: 20px;
    margin-bottom: 40px;
}

/* table style */
table {
    border-spacing: 0;
    text-align: left;
}
.td-space {
   width: 50%;
}

#tablehead {
    background-color: rgb(32, 170, 230);
}
.th-text {
    color: white;
}

.tr-colored {
    background-color: rgb(177, 229, 242);
}

/* footer e immagini */
h3 {
    color: rgb(120, 120, 120);
}

#monitor-image {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-image {
    color: white;
    font-size: 20px;
    padding: 10px;
}

#graph-image {
    background-image: url(../img/graph.jpg);
    width: 311px;
    height: 207px;
}