* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 10px;
}

/* intestazione */
header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    width: 100%;
    height: auto;
    background-color:rgb(79, 161, 255);
}

#logo-booleaner {
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
}

/* titolo e immagini */
#credits-data {
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
}

#credits {
    font-weight: bold;
}

#link-booleaner {
    text-decoration: none;
    color: rgb(34, 171, 230);
}

/* contenuto principale */
.text-paragraph {
    margin-top: 40px;
    margin-bottom: 40px;
}

.testo-evidenziato {
    background-color: yellow;
}

ul {
    margin-left: 20px;
    margin-bottom: 40px;
}

/* table style */

.td-space {
   width: 30%;
}

#tablehead {
    background-color: rgb(32, 170, 230);
}
.th-text {
    color: white;
}

.tr-colored {
    background-color: rgb(177, 229, 242);
}